@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.skills {
  display: flex;
  /* flex-direction: row; */
  align-items: flex-start;
  gap: 1rem; /* Ajustez l'espace entre les éléments */
  border: 3px black ;
}


.skills h5:hover{
  text-decoration: underline;
}

.skills h5 {
  cursor: pointer;
}

.skills #Expertise, #Software, #Lang{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* .fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms;
} */
